{#
 This file is part of the Related Product plugin

 Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<div id="recommend_area" class="row">
    <div class="col-sm-12">
        <h2 class="heading03">関連商品</h2>
        <div class="carousel">
            {% for RelatedProduct in RelatedProducts %}
                <div class="product_item">
                    <div class="item_photo">
                        <a href="{{ url('product_detail', {id : RelatedProduct.ChildProduct.id}) }}">
                            <img src="{{ app.config.image_save_urlpath }}/{{ RelatedProduct.ChildProduct.main_list_image|no_image_product }}">
                        </a>
                    </div>
                    <dl style="text-align: left;">
                        <dd class="item_comment">{{ RelatedProduct.content|raw }}</dd>
                        <dt class="item_name">{{ RelatedProduct.ChildProduct.name }}</dt>
                        <dd class="item_price">
                            {% if RelatedProduct.ChildProduct.hasProductClass %}
                                {% if RelatedProduct.ChildProduct.getPrice02Min == RelatedProduct.ChildProduct.getPrice02Max %}
                                    {{ RelatedProduct.ChildProduct.getPrice02IncTaxMin|price }}
                                {% else %}
                                    {{ RelatedProduct.ChildProduct.getPrice02IncTaxMin|price }} ～ {{ RelatedProduct.ChildProduct.getPrice02IncTaxMax|price }}
                                {% endif %}
                            {% else %}
                                {{ RelatedProduct.ChildProduct.getPrice02IncTaxMin|price }}
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
