{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{% form_theme searchForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}

<script>
    var searchId = null;
    $(function () {
        for (var i = 0; i < 5; i++) {
            var $select = $("#admin_product_related_collection_" + i + "_ChildProduct :selected");
            $("#view_" + i).text($select.text());
        }

        $("a[id^='search_']").on("click", function () {
            searchId = $(this)
                .attr("id")
                .replace("search_", "");
        });

        $("#searchButton").on("click", function () {
            var formIdVal = $("#{{ searchForm.id.vars.id }}").val();
            var formCatIdVal = $("#{{ searchForm.category_id.vars.id }}").val();
            var data = {
                id: formIdVal,
                category_id: formCatIdVal,
                product_id: {{ Product.id ? Product.id : 0 }}
            };
            $("#searchResult")
                    .children()
                    .remove();

            $.ajax({
                    type: "POST",
                    url: "{{ url('admin_related_product_search') }}",
                    data: data,
                    success: function(data){
                        $("#searchResult").append(data);
                    }
            });
        });
    });
    function setProduct(id) {
        $("#admin_product_related_collection_" + searchId + "_ChildProduct").val(id);
        var $selected = $("#admin_product_related_collection_" + searchId + "_ChildProduct :selected");
        $("#view_" + searchId).text($selected.text());
        $("#searchResult").children().remove();
        $("#searchProductModal").modal("hide");
    };
</script>
<div class="modal" id="searchProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-close" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">商品検索</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_widget(searchForm.id, { attr : { placeholder : '商品名・ID・コード' } } ) }}
                </div>
                <div class="form-group">
                    {{ form_widget(searchForm.category_id) }}
                </div>
                <div class="form-group">
                    <button type="button" id="searchButton" class="btn btn-primary" >
                        検索
                    </button>
                </div>
                <div class="form-group" id="searchResult">
                </div>
            </div>
        </div>
    </div>
</div>
