{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{% if message is not empty  %}
<p class="text-danger">{{ message }}</p>
{% endif %}
<div class="table-responsive">
    <table class="table">
        <tbody>

        {% for Product in Products %}
            <form name="product_form{{ Product.id }}">
                <tr>
                    <td>
                        {{ Product.name }}
                        {% if Product.hasProductClass %}
                            <span><br/>{{ Product.code_min }}～{{ Product.code_max }}</span>
                        {% else %}
                            <span><br/>{{ Product.code_min }}</span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <button onclick="setProduct({{ Product.id }})"
                                type="button"
                                class="btn btn-default btn-sm">
                            決定
                        </button>
                    </td>
                </tr>
            </form>
        {% endfor %}

        </tbody>
    </table>
</div>
