{#
 This file is part of the Related Product plugin

 Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<script>
    function fnSelectProduct(product_id, product_name, product_image_link, product_image_img, product_code_min, product_code_max) {
        var data_id = $('#relatedDataId').val();
        // Add product argument
        $('#product-name' + data_id).text(product_name);
        $('#product-image-link' + data_id).attr('href', product_image_link);
        $('#product-image-img' + data_id).attr('src', product_image_img);
        if(product_code_min != product_code_max)
            product_code_min += ' ～ ' + product_code_max;
        $('#product-code' + data_id).text(product_code_min);
        // Display new product
        $('.related-view' + data_id).removeClass('hidden');
        $("#admin_product_related_collection_" + data_id + "_ChildProduct").val(product_id);
        // モーダル閉じる.
        $("#searchResult").children().remove();
        $("#searchProductModal").modal("hide");
        return false;
    }

    // 商品検索
    $('div.box-footer a').on('click', function(event) {
        var list = $('#searchResult');
        list.children().remove();
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: $(this).attr('href'),
            success: function(data) {
                $('#searchResult').html(data);
            },
            error: function() {
                alert('paginator failed.');
            }
        });
        event.preventDefault();
    });
</script>
<div class="table-responsive">
    <table class="table">
        <tbody>
        {% for Product in pagination %}
            <form name="product_form{{ Product.id }}">
                <tr>
                    <td>
                        {{ Product.name }}
                        <br>
                        <span>{{ Product.code_min }}
                            {% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}
                            {% endif %}
                        </span>
                    </td>
                    <td class="text-right">
                        <button onclick="fnSelectProduct('{{ Product.id }}', '{{ Product.name|escape('js') }}', '{{ url('admin_product_product_edit', { id : Product.id }) }}', '{{ app.config.image_save_urlpath }}/{{ Product.mainFileName|no_image_product }}', '{{ Product.code_min|escape('js') }}', '{{ Product.code_max|escape('js') }}')" type="button" class="btn btn-default btn-sm">
                            決定
                        </button>
                    </td>
                </tr>
            </form>
        {% endfor %}

        </tbody>
    </table>
    {% if pagination.totalItemCount > 0 %}
        {% include "pager.twig" with {'pages': pagination.paginationData, 'routes': 'admin_related_product_search_product_page'} %}
    {% endif %}
</div>
