{#
 This file is part of the Related Product plugin

 Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

<script>
$(function() {
    var dataId = null;

    $(document).on('click', '.delete', function() {
        var data = $(this).data();
        $('.related-view' + data.id ).addClass('d-none');
        $('#admin_product_related_collection_' + data.id + '_ChildProduct').val('');
        $('#admin_product_related_collection_' + data.id + '_content' ).val('');
        $('#searchResult').children().remove();
    });

    $(document).on("click", 'button[id^="search_"]', function () {
        dataId = $(this).attr("data-id");
        $("#relatedDataId").val(dataId);
        $("#searchResult").children().remove();
    });

    $("#searchButton").on("click", function () {
        var formIdVal = $("#{{ searchForm.id.vars.id }}").val();
        var formCatIdVal = $("#{{ searchForm.category_id.vars.id }}").val();
        var data = {
            id: formIdVal,
            category_id: formCatIdVal,
            product_id: {{ Product.id ? Product.id : 0 }}
        };
        $("#searchResult")
                .children()
                .remove();
        $.ajax({
            type: "POST",
            url: "{{ url('admin_related_product_search') }}",
            data: data,
            success: function(data){
                $("#searchResult").append(data);
            },
            error: function() {
                alert('product search failed.');
            }
        });
    });
});
</script>

<div class="card rounded border-0 mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                     title="Tooltip">
                    <span class="card-title">{{ form.related_collection.vars.label }}</span>
                    <i class="fa fa-question-circle fa-lg ml-1"></i>
                </div>
            </div>
            <div class="col-4 text-right">
                <a data-toggle="collapse" href="#freeArea" aria-expanded="false"
                   aria-controls="freeArea">
                    <i class="fa fa-angle-up fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="collapse show ec-cardCollapse" id="freeArea">
        <div class="card-body">
            <div class="row">
                {% for child in form.related_collection %}
                    <div class="col-3">
                        <label>
                            {{ child.ChildProduct.vars.label }}
                        </label>
                    </div>
                    <div class="col-9 mb-2">
                        {% set ChildProduct = RelatedProducts[loop.index0].ChildProduct %}
                        <div class="col-sm-9 col-lg-9" id="related-div-{{ loop.index0 }}">
                            {% if ChildProduct %}
                                <div>
                                    <a href="{{ url('admin_product_product_edit', { id : ChildProduct.id }) }}" id="product-image-link{{ loop.index0 }}" class="flL related-view{{ loop.index0 }}" >
                                        <img src="'{{ asset(ChildProduct.mainFileName|no_image_product, 'save_image') }}'" id="product-image-img{{ loop.index0 }}" style="max-width: 100px;margin-right: 10px;" />
                                    </a>
                                    <span id="product-name{{ loop.index0 }}" class="related-view{{ loop.index0 }}" style="margin-right: 10px;">{{ ChildProduct.name }}</span>
                                    {{ form_widget(child.ChildProduct, { attr: { style: 'display: none', class: 'child-product' } }) }}
                                    <br>
                                    <span class="related-view{{ loop.index0 }}" id="product-code{{ loop.index0 }}">
                                    {{ ChildProduct.code_min }}
                                        {% if ChildProduct.code_min != ChildProduct.code_max %} ～ {{ ChildProduct.code_max }}
                                        {% endif %}
                                </span>
                                </div>
                                <div>
                                    <button type="button" id="search_{{ loop.index0 }}" class="btn btn-default btn::after-block btn-sm" data-toggle="modal" data-target="#searchProductModal" data-id="{{ loop.index0 }}">
                                        {{ 'plugin.related_product.select_product'|trans }}
                                    </button>
                                    <button type="button" id="product-delete{{ loop.index0 }}" class="btn btn-default text-right delete related-view{{ loop.index0 }}" data-id="{{ loop.index0 }}">
                                        {{ 'plugin.related_product.remove_product'|trans }}
                                    </button>
                                </div>
                            {% else %}
                                <div>
                                    <a href="" id="product-image-link{{ loop.index0 }}" class="flL related-view{{ loop.index0 }} hidden" >
                                        <img src="" id="product-image-img{{ loop.index0 }}" style="max-width: 100px;margin-right: 10px;" />
                                    </a>
                                    <span id="product-name{{ loop.index0 }}" class="related-view{{ loop.index0 }} hidden" ></span>
                                    {{ form_widget(child.ChildProduct, { attr: { style: 'display: none' , class: 'child-product' } }) }}
                                    <br>
                                    <span id="product-code{{ loop.index0 }}" class="related-view{{ loop.index0 }} hidden"></span>
                                </div>
                                <div>
                                    <button type="button" id="search_{{ loop.index0 }}" class="btn" data-toggle="modal" data-target="#searchProductModal" data-id="{{ loop.index0 }}">
                                        {{ 'plugin.related_product.select_product'|trans }}
                                    </button>
                                    <button  type="button" id="product-delete{{ loop.index0 }}" class="btn text-right delete related-view{{ loop.index0 }} d-none" data-id="{{ loop.index0 }}">
                                        {{ 'plugin.related_product.remove_product'|trans }}
                                    </button>
                                </div>
                            {% endif %}


                        </div>
                    </div>
                    <div class="col-3">
                        <label>
                            {{ child.content.vars.label }}
                        </label>
                    </div>
                    <div class="col-9 mb-2">
                        <div class="col-sm-9 col-lg-10 related-content{{ loop.index0 }}">
                            {{ form_widget(child.content, { attr : { class : 'col-sm-9 col-lg-10 form-control' } } ) }}
                            {{ form_errors(child.content) }}
                        </div>
                    </div>
                {% endfor %}
                <input type="hidden" id="relatedDataId" value="">
            </div>
        </div>
    </div>
</div>

